<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sitecore8helix.local</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Sitecore8Helix</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="" />
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <Target Name="CustomCollectFiles">
    <ItemGroup>
      <!-- FEATURE -->
      <!-- Configs -->
      <_Configs Include="..\..\..\Feature\Products\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Feature\Stores\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Feature\Media\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Feature\News\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Feature\Cart\code\App_Config\**\*" />

      <!-- Views -->
      <_Views Include="..\..\..\Feature\Products\code\Views\**\*" />
      <_Views Include="..\..\..\Feature\Stores\code\Views\**\*" />
      <_Views Include="..\..\..\Feature\Media\code\Views\**\*" />

      <!-- FOUNDATION -->
      <!-- Configs -->
      <_Configs Include="..\..\..\Foundation\Search\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Foundation\Presentation\code\App_Config\**\*" />
      <_Configs Include="..\..\..\Foundation\Serialization\code\App_Config\**\*" />

      <!-- Views -->

      <!-- PROJECT -->
      <!-- Configs -->
      <_Configs Include="..\..\Common\code\App_Config\**\*" />

      <!-- Views -->
      <_Views Include="..\..\Common\code\Views\**\*" />

      <FilesForPackagingFromProject Include="%(_Configs.Identity)">
        <DestinationRelativePath>App_config\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
      <FilesForPackagingFromProject Include="%(_Views.Identity)">
        <DestinationRelativePath>Views\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>
      CustomCollectFiles;
      $(CopyAllFilesToSingleFolderForPackageDependsOn);
    </CopyAllFilesToSingleFolderForPackageDependsOn>

    <CopyAllFilesToSingleFolderForMsdeployDependsOn>
      CustomCollectFiles;
      $(CopyAllFilesToSingleFolderForMsdeployDependsOn);
    </CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>
</Project>