<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Stores" description="Feature.Stores" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <include name="Stores.Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets/Stores" />
            <!--<include name="StoresPage" database="master" path="/sitecore/Content/Home/Stores" />
            <include name="Stores" database="master" path="/sitecore/Content/Global/Stores" />
            <include name="StoreTypes" database="master" path="/sitecore/Content/Global/StoreTypes" />-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>