<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <!-- Replace Element-->
    <sc.variable name="dataFolder" xdt:Transform="Replace" xdt:Locator="Match(name)">
      <patch:attribute name="value">TestDataFolderValue</patch:attribute>
    </sc.variable>
    <!-- Add Or Update Attributes On Element -->
    <sc.variable name="sourceFolder" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" custom="something new" value="TestSourceFolderValue" />
    <sites>
      <!-- Insert Element At The End Of Parent Element -->
      <site xdt:Transform="Insert" name="NewSiteAppended"/>
      <!-- Insert Element Before XPath Expression -->
      <site xdt:Transform="InsertBefore(/configuration/sitecore/sites/site[@name='website'])" name="NewSiteAppendedBefore"/>
      <!-- Insert Element After XPath Expression -->
      <site xdt:Transform="InsertAfter(/configuration/sitecore/sites/site[@name='website'])" name="NewSiteAppendedAfter"/>
    </sites>
    <settings>
      <!-- Removes The Element - Can Also Use RemoveAll For Multiple -->
      <setting name="Xdb.Enabled" xdt:Locator="Match(name)" xdt:Transform="Remove"></setting>
      <!-- Removes An Attribute From An Element -->
      <!--<setting name="Xdb.Tracking.Enabled" xdt:Locator="Match(name)" xdt:Transform="RemoveAttributes(name)"></setting>-->
    </settings>
  </sitecore>
</configuration>