<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Presentation" description="Foundation.Presentation" dependencies="Foundation.Serialization" extends="Helix.Foundation">
          <predicate>
            <include name="Presentation.Settings" database="master" path="/sitecore/system/Settings/Foundation/Presentation" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>