@import "../../styling/colors.scss"; 
@import "../../styling/overlays.scss";
@import "../../styling/navigation.scss";
@import "../../styling/mixins.scss";

.navigation {
    background-color: $default-grey-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $mainNavigationHeight;
    
    .navigation__logo { 
        @include size(200px, 40px);
    }

    ul {
        @include remove-all-spacing;
    }

    li {
        list-style: none;
        display: inline-block;
        letter-spacing: 3px;
    }

    .navigation__item {
        padding: 22px;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .navigation__item:hover {
        background-color: $default-theme-color; 

        a {
            color: $light-text-color;
        }

        .submenu {
            @include show;
        }
    }
}

.submenu {
    @include hide;
    position: fixed;
    top: $subMenuStartPosition;
    left: 0;
    right: 0;
    width: 100%;
    z-index: z('menus');
    cursor: default;

    li {
        display: block;
        margin-bottom: 15px;
    }

    .submenu__rows {
        display: flex;
    }

    .submenu__row{
        width: $subMenuRowWidth
    }

    .submenu__headline {
        color: $light-text-color;
        letter-spacing: 1.4px;
        font-weight: 400;
    }

    .submenu__headline--hide{
        visibility: hidden;
    }

    .submenu__link {
        color: $light-text-color;
        font-size: 1.1rem;
    }

    .submenu__bottom {
        display: flex;
        margin-top: 30px;
    }

    .submenu__bottom-item {
        width: $subMenuRowWidth;
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }

    .submenu__bottom-item-link {
        @include anchorLinkButton($light-text-color);
    }

    .submenu__promotion {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 30px;
        margin-left: 70px;
        align-items: center;
    }

    .submenu__promotion-headline {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}

.navigation .submenu .submenu__promotion .submenu__promotion-link {
    @include anchorLinkButton($dark-text-color);
    color: $dark-text-color;
    position: absolute;
    bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
} 

.navigation .submenu .submenu__promotion .submenu__promotion-link:hover {
    color: $light-text-color;
    background-color: $dark-text-color;
}