@model Sitecore8Helix.Feature.Media.Models.ImageFrame

<div class="col-md-3">
    <h3>@Model.Title</h3>
    <p>@Model.Manchet</p>
    <img class="img-fluid img-thumbnail" src="@Model.ImageSource"/>
</div>
