<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore8Helix</title>
</head>
<body>
    <div>
        <h3>Master Layout</h3>

        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
