<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Sitecore8Helix" description="Project.Sitecore8Helix" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>

          <dataProviderConfiguration enableTransparentSync="false" />

          <predicate>
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/Sitecore8Helix" />
            <include name="Websites.Content" database="master" path="/sitecore/content/Websites" />
            <include name="Global.Content" database="master" path="/sitecore/content/Global" />
          </predicate>
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>