<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=nicho;password=huskpass30;Data Source=.;Database=Nicho.Sitecore8Helix.Core" />
  <add name="master" connectionString="user id=nicho;password=huskpass30;Data Source=.;Database=Nicho.Sitecore8Helix.Master" />
  <add name="web" connectionString="user id=nicho;password=huskpass30;Data Source=.;Database=Nicho.Sitecore8Helix.Web" />
  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact" />
  <add name="reporting" connectionString="user id=nicho;password=huskpass30;Data Source=.;Database=Nicho.Sitecore8Helix.Analytics" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>