<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Common" description="Project.Common" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
          <predicate>
            <include name="PlaceholderSettings.Common" database="master" path="/sitecore/layout/placeholder settings/Project/Common"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>